[submodule "Frameworks/Internal/VSCollectionKit"]
	path = Frameworks/Internal/VSCollectionKit
	url = /Users/dineshdeshmukh/Documents/Fitternity/Fitternity-master/Fitternity/Carthage/Checkouts/VSCollectionKit/VSCollectionKit
